<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.mfa.simple.pagetitle}">CAS Multifactor Authentication View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>



<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" id="login" class="mdc-card mdc-card-content w-lg-50 p-4 m-auto">
        <form method="post" id="fm1" th:object="${credential}" th:action="@{/login}">

            <div class="banner banner-danger my-2" th:if="${flowRequestContext.messageContext.hasErrorMessages()}">
                <p th:each="message : ${flowRequestContext.messageContext.allMessages}"
                   th:utext="${message.text}">Message Text</p>
            </div>

<!--            <div class="banner banner-info my-2"-->
<!--                 th:unless="${flowRequestContext.messageContext.hasErrorMessages()}">-->
<!--                <p th:each="message : ${flowRequestContext.messageContext.allMessages}"-->
<!--                   th:utext="${message.text}">Message Text</p>-->
<!--            </div>-->

            <div class="banner banner-info my-2"
                 th:unless="${flowRequestContext.messageContext.hasErrorMessages()}">
                <p th:text="#{cas.mfa.simple.message}"></p>
            </div>




            <section class="cas-field my-3 mdc-input-group">
                <div class="mdc-input-group-field mdc-input-group-field-append">
                    <div class="d-flex caps-check">
                        <label for="token" class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
                            <input class="mdc-text-field__input pwd"
                                   type="password"
                                   name="token"
                                   id="token"
                                   th:field="*{token}"
                                   size="25"
                                   autocomplete="one-time-code" required/>

                            <span class="mdc-notched-outline">
                                    <span class="mdc-notched-outline__leading"></span>
                                    <span class="mdc-notched-outline__notch">
                                      <span class="mdc-floating-label" th:utext="#{cas.mfa.simple.label.token}">Token</span>
                                    </span>
                                    <span class="mdc-notched-outline__trailing"></span>
                                </span>
                        </label>
                    </div>
                    <div class="mdc-text-field-helper-line caps-warn">
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg text-danger">
                            <span th:utext="#{screen.capslock.on}"/>
                        </p>
                    </div>
                </div>
                <button class="reveal-password mdc-button mdc-button--raised mdc-input-group-append mdc-icon-button"
                        type="button">
                    <i class="mdi mdi-eye reveal-password-icon"></i>
                    <span class="sr-only">Toggle Password</span>
                </button>
            </section>
            <div class="d-flex">
                <button class="mdc-button mdc-button--raised me-2" accesskey="s">
                    <span class="mdc-button__label" th:text="#{screen.welcome.button.login}">Login</span>
                </button>

                <button class="mdc-button mdc-button--raised" name="resend" formnovalidate onclick="$('#eventId').val('resend');">
                    <span class="mdc-button__label" th:text="#{cas.mfa.simple.label.resend}">Resend</span>
                </button>
            </div>
            <input type="hidden" id="eventId" name="_eventId" value="submit"/>
            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            <input type="hidden" name="geolocation"/>
        </form>

    </div>
</main>
</body>

</html>
